body {
    margin: 0.5em;
}

header h1 {
  display: inline;
}


footer {
    position: absolute;
    bottom: 10px;
}

footer .info {
  margin-bottom: 0.5em;
}

.right {
  float: right;
}

button {
  font-size: 1em;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #eee;
  padding: 2px 12px 2px 12px;
  outline: none;
}

button:focus {
  border-width: 2px;
  padding: 1px 11px 1px 11px;
  outline: none;
}


table {
  margin-top: 2.5em;
  clear: both;
}

table.summary {
  margin: auto;
  border-collapse: separate;
  border-spacing: 10px;
}

table.summary th,
table.summary td {
  padding: 0.5em;
  text-align: center;
  width: 4em;
}

#summary_violations,
#group_violations {
  background-color: #FFAEAE;
}

#summary_warnings,
#group_warnings {
  background-color: #FFEC94;
}

#summary_manual_checks,
#group_manual_checks {
  background-color: #B4D8E7;
}

#summary_passed,
#group_passed {
  background-color: #B0E57C;
}

table.grid {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 1px solid #CCC;
}

table.grid thead th {
  padding-top: 0.5em;
  text-align: right;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #CCC;
}

table.grid thead th:first-child {
  text-align: left;
  padding-left: 0.5em;
}

table.grid tbody tr:nth-child(even) {
  background: #EEE;
}

table.grid tbody tr:nth-child(odd) {
  background: #FFF;
}

table.grid tbody th {
  padding: 0.25em;
  text-align: left;
  padding-left: 0.5em;
}

table.grid tbody td {
  padding: 0.25em;
  text-align: right;
  width: 3em;
}

table.grid a,
table.grid a:focus {
  font-size: 1em;
  font-weight: normal;
  color: black;
}

